body {
	font-family: "Helvetica", sans-serif;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFF;
   }

h1 {
	margin: 0 auto;
}

#sideWrapper {
	border: 1px solid black;
	background-color: #E1CEB1;
	/*height: 1200px;*/
}

/*Not the best solution as it's not responive for smaller screens, preferably use Bootstrap*/

.flex-container img {
	margin-right: -300px; 

}

.flex-container.nav {
	justify-content: center;
	border-top: 3px solid #d3d3d3;
	border-bottom: 3px solid #d3d3d3;
	background-color: #FFF;
}

.navbar {
	margin: 10px 20px 10px 0;
}

a:link {
	color: #0000ff;
}

a:visited {
	color: #8a2be2;
}
a:hover {
	color: #ffa500;
}

a:active {
	color: #00ff00;
}

#laptopbox,
#mobilebox,
#tabletsbox,
#laptop {
	border: 2px solid black;

}

#laptopbox {
	background-color: #F375B0;
	margin: 5px 5px;
	color: #9F069A;
}

#laptop {
	border-collapse: collapse;
	position: relative;
}

#tablets {
	border-collapse: collapse;
	text-align: center;
	margin: 0 0 0 auto;
}

#mobilebox {
	text-align: center;
	background-color: #3D9970;
	margin: 5px 5px;
	color: #1AD9A6;
}

#mobile {
	margin: 0 auto;
}

#tabletsbox {
	text-align: right;
	background-color: #33D0E2;
	margin: 5px 5px;
	color: #FFF;
}

.heading {
	text-align: center;
}

td, th {
	border: 1px solid black;
}

footer {
	clear: both;
	text-align: center;
}



